{
    "plugins": [
      [
        "module-resolver",
        {
          "cwd": "babelrc",
          "root": ["./"],
          "extensions": [".js", ".jsx"],
          "alias": {
            "components": "./src/components"
          }
        }
      ]
    ]
  }